.card_size {
  width: 28rem;
  max-height: 35rem;
  margin-right: auto !important;
  margin-left: auto !important;
}
.card_size_carousel {
  width: 28rem;
  max-height: 35rem;
  margin-right: auto !important;
  margin-left: auto !important;
}
.rounded_5 {
  border-radius: 0.5rem;
}

.card_img {
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  max-height: 15rem;
}
.card_img_carousel {
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  max-height: 20rem;
}

.card_img img {
  height: 100%;
  width: auto;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.card_img_carousel img {
  height: 100%;
  width: auto;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.o_detail {
  padding-left: 0;
  padding-right: 0;
  border-radius: 0.5rem;
}
.o_detail:hover {
  transform: scale(1);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.8),
    0 0.25rem 0.5rem rgba(0, 0, 0, 0.8);
}

/*
 *  sb_0
 */

.sb_0::-webkit-scrollbar {
  width: 0;
}

/*
 *  sb_1
 */

.sb_1::-webkit-scrollbar-track {
  display: none;
}

.sb_1::-webkit-scrollbar {
  width: 0.6rem;
  background-color: #ffffff00;
}

.sb_1::-webkit-scrollbar-thumb {
  border-radius: 5rem;
  /* convertion en #b78A62 */
  -webkit-box-shadow: inset 0 0 6px rgb(183, 138, 98);
  background-color: rgba(187, 11, 11, 0);
}
