<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<!-- Pied de page 23.01.04-11:13 -->
<div th:fragment="_footer" >
	<footer class="mt-auto bg-dark text-center">
		<div class="container">
			<ul class="nav justify-content-center border-bottom pb-3 mb-3">
				<li class="nav-item"><a href="/AboutUs"
					class="nav-link px-2 text-white">A propos</a></li>
				<li class="nav-item"><a href="/contacts"
					class="nav-link px-2 text-white">Contact</a></li>
			</ul>
			<div class="text-center text-white">Copyright 2023 ®</div>
		</div>
	</footer>
</div>