<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Contact</title>
  <link rel="shortcut icon" href="logo-shortcut.png">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
    crossorigin="anonymous"></script>


  <!-- <link href="css/main.css" rel="stylesheet"> -->
  <link href="css/avancee.css" rel="stylesheet">

</head>

<body class="d-flex flex-column min-vh-100">
  <div th:include="_header :: _header"></div>


  <div class="main-content my-auto">
    <div class="container">
      <div class="row">
        <div class="col-lg-10 m-auto">
          <div class="card bg-secondary shadow">
            <div class="card-header border-0">
              <div class="row align-items-center">
                <div class="col-8">
                  <h3 class="mb-0">Nous contacter</h3>
                </div>
              </div>
            </div>
            <div class="card-body">
              <form>
                <div class="pl-lg-4">
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-group focused">
                        <label class="form-control-label" for="input-username">Nom</label>
                        <input type="text" id="input-username" class="form-control form-control-alternative"
                          placeholder="Nom">
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label class="form-control-label" for="input-email">Prénom</label>
                        <input type="email" id="input-email" class="form-control form-control-alternative"
                          placeholder="Prénom">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-12">
                      <div class="form-group focused">
                        <label class="form-control-label" for="input-first-name">Adresse Email</label>
                        <input type="text" id="input-first-name" class="form-control form-control-alternative"
                          placeholder="Adresse Email">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-12">
                      <div class="form-group focused">
                        <label class="form-control-label" for="input-first-name">Message</label>
                        <textarea class="form-control" rows="5" placeholder="Entrer votre message ..."
                          id="comment"></textarea>
                      </div>
                    </div>
                  </div>
                  <div class="row align-items-center">
                    <div class="col-8">
                    </div>
                    <div class="col-lg-4 text-right six-wrap">
                      <button class="btn-search" type="button">Envoyer</button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<!-- Pied de page -->
	<div th:include="_footer :: _footer"></div>
</body>

</html>