<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>


<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Bienvenue sur NOMDUSITE</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
	crossorigin="anonymous">
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
	crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js"></script>
<script
	src="https://unpkg.com/bootstrap-table@1.21.2/dist/bootstrap-table.min.js"></script>
<link rel="stylesheet"
	href="https://unpkg.com/bootstrap-table@1.21.2/dist/bootstrap-table.min.css">
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap-table@1.16.0/dist/locale/bootstrap-table-fr-FR.min.js"></script>

<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/Maxandtiti/NvTestGithub/main/main.css?token=GHSAT0AAAAAAB5UFV7ZR2MLATGJSASWRG5EY6HYMNQ">

<link rel="stylesheet" href="../css/main.css">
<link rel="stylesheet" href="../css/avancee.css">



</head>

	<div th:include="_header :: _header"></div>
	
	
	
	<body class="d-flex flex-column min-vh-100">



<div class="row my-auto">
	<div class="col-11 mx-auto order-1">
		<div style="margin-top: 100px;">
			<div class="card-header border-0">
				<div class="row">
					<div class="col-lg-2"></div>
					<div class="col text-center my-auto">
						<h2>Liste de mes événements</h2>
					</div>
					<div class="col-2 text-right" style="text-align: center;">
						<input type="text" id="customSearch" placeholder="Rechercher"
							class="form-control">
					</div>
				</div>
			</div>

			<table data-toggle="table"
				data-url="http://localhost:8080/api/myevents" data-pagination="true"
				data-page-size="[10]" data-locale="fr-FR" data-search="true"
				data-search-selector="#customSearch"
				class="table table-light table-striped text-center">

				<thead>
					<tr>
						<th data-field="preview" data-formatter="previewFormatter">Image</th>
						<th data-field="title">Titre</th>
						<th data-field="times">Dates</th>
						<th data-field="city">Ville</th>
						<th data-field="description">Description</th>
						<th data-field="idmyevents" data-formatter="buttons">Actions</th>
					</tr>
				</thead>
				<tbody>




				</tbody>
			</table>
		</div>
	</div>
</div>



     <!-- Modal -->
          <div class="modal fade" id="DeleteEvent" tabindex="-1" aria-labelledby="DeleteEventLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                 <form action="#" th:action="@{/mesevenements/delete}" method="POST" th:object="${myevents}">
                 <input type="hidden" name="idmyevents">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="DeleteEventLabel">Suppression d'un événement</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
     						<div class="modal-body"><span>${row.title}</span>
						</div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                  <button type="submit" class="btn btn-danger" data-idmyevents="${row.idmyevents}">Supprimer</button>
                </div>
                </form>
              </div>
            </div>
          </div>  






</body>
	<div th:include="_footer :: _footer"></div>

<script>

// Ajouter les boutons Editer et Supprimer pour chaque élément de la ligne
 
function buttons(value, row) {
  return `<a href="/edit/${row.idmyevents}" class="btn btn-primary btn-sm">Editer</a> 
          <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#DeleteEvent" data-idmyevents="${row.idmyevents}"  data-title="${row.title}">Supprimer</button>`;

}


// Envoyer les données de l'ID pour chaque élément dans le modal

$('#DeleteEvent').on('show.bs.modal', function (event) {
	let button = $(event.relatedTarget) 
	let title = button.data('title');
	let idmyevents = button.data('idmyevents') 
	let modal = $(this)
	
	 document.querySelector("#DeleteEvent input[name='idmyevents']").value = idmyevents;
	 document.querySelector("#DeleteEvent span").innerHTML = `Êtes vous sûre de vouloir supprimer l'événement <b style="font-weight: bold;">${title}</b> ?`;
	})  

	function previewFormatter(value, row, index) {
		return "<img src='" + value + "' alt='Image' height='75' width='75'>";
	}
</script>


</html>
