<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NOMDELEVENEMENT</title>

   
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
        integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
    crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
    integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
    crossorigin=""></script>


<script src="https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js"></script>
<script
	src="https://unpkg.com/bootstrap-table@1.21.2/dist/bootstrap-table.min.js"></script>
<link rel="stylesheet"
	href="https://unpkg.com/bootstrap-table@1.21.2/dist/bootstrap-table.min.css">
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap-table@1.16.0/dist/locale/bootstrap-table-fr-FR.min.js"></script>



<script>

	// Récupère les données dans le json de l'API OU catch l'erreur pour le controller


const uri = window.location.pathname;
const eventId = uri.split('/').pop();

// http://localhost:8080/api/myevents/${eventId}

console.log(uri);
console.log(eventId);


fetch(`https://public.opendatasoft.com/api/v2/catalog/datasets/evenements-publics-openagenda/records/${eventId}`)
.then((response) => {
  if (!response.ok) {
    throw new Error("Erreur de réponse du serveur");
  }
  return response.json();
})
.then((json) => {

    document.getElementById("titre").innerHTML = json.record.fields.title_fr;
    document.getElementById("description").innerHTML = json.record.fields.longdescription_fr;
  	 const keywords = json.record.fields.keywords_fr;
    document.getElementById("keywords").innerHTML = keywords;
    
    document.getElementById("daterange").innerHTML = json.record.fields.daterange_fr;
    const conditions = json.record.fields.conditions_fr;
    document.getElementById("conditions").innerHTML = conditions;


    
     if (conditions == null) { 
    	 document.getElementById("conditions-section").style.display = "none";

	    }
     
     if (keywords == null) { 
    	 document.getElementById("keywords-section").style.display = "none";
	     
	    }
     
    
    
   // Image
    
   	const img = json.record.fields.image;
   
   	document.getElementById("img").src = img
   	if (img == null) {
	document.getElementById("imageABS-section").style.display = "block";
    document.getElementById("image-section").style.display = "none";
   	}
    
   //  Récupération du tableau dans le json + récupérer le mois
      const timingArray = JSON.parse(json.record.fields.timings);
   	  const output = timingArray.map(item => {
      const begin = new Date(item.begin);
      const end = new Date(item.end);
      const day = begin.toLocaleDateString("fr-FR", {weekday: "long"});
      const startTime = begin.toLocaleTimeString("fr-FR", {hour: "2-digit", minute: "2-digit"});
      const endTime = end.toLocaleTimeString("fr-FR", {hour: "2-digit", minute: "2-digit"});
      const month = begin.toLocaleDateString("fr-FR", {month: "long"});
      const year = begin.getFullYear();
      document.getElementById("mois").innerHTML = month.charAt(0).toUpperCase() + month.slice(1) + ' ' + year;
      
      return `<tr>
      <td>${day.charAt(0).toUpperCase() + day.slice(1)} ${begin.getDate()}</td>
      <td style="text-align:right;">${startTime} - ${endTime}</td>
    </tr>`;
});

document.getElementById("timer").innerHTML = `
<table>
<tbody>
${output.join("")}
</tbody>
</table>
`;


 		  
 	// Adresse location_address	  
 	
 	const region = json.record.fields.location_region;
 	const postalcode = json.record.fields.location_postalcode;
 	
 	let adresse;
 	
 	if ((region == null) && (postalcode == null)) {
 	  adresse = json.record.fields.location_address;	
  	} else if (region == null) {
 	  adresse = json.record.fields.location_address + ' ' + postalcode;
 	} else if (postalcode == null) {
 		adresse = json.record.fields.location_address + ' - ' + region
 	} else {
 		adresse = json.record.fields.location_address + ' ' + postalcode +  ' - '  + region
 	}

 		document.getElementById("adresse").innerHTML = adresse;
 	
 		  console.log(adresse);
 	
 	// Coordonnées + minimap
 	const longlat = json.record.fields.location_coordinates;
 	const {lon, lat} = longlat;
 	const latitude = JSON.stringify(lat);
 	const longitude = JSON.stringify(lon);

 
 	 var map = L.map('map').setView([latitude, longitude], 13);
     L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
       attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
     }).addTo(map);
    
     var marker = L.marker([latitude, longitude]).addTo(map);
	
     
 		  
 	// Accessibilité hi;pi:mi;vi  
 	const access = json.record.fields.accessibility;
 	  
 	console.log(access);
 	
 	
 	let vi = "<i class='fa-solid fa-question'></i>";
 	let hi = "<i class='fa-solid fa-question'></i>";
 	let mi = "<i class='fa-solid fa-question'></i>";
 	let pi = "<i class='fa-solid fa-question'></i>";
 	

 	
 	 if (access) {
 		let values = access.split(";");
 	values.forEach(function(value) {
 	  switch (value) {
 	    case "hi":
 	    	hi = "<i class='fa-solid fa-check'></i>";
 	      break;
 	    case "pi":
 	    	pi = "<i class='fa-solid fa-check'></i>";
 	      break;
 	    case "mi":
 	    	mi = "<i class='fa-solid fa-check'></i>";
 	      break;
 	    case "vi":
 	    	vi = "<i class='fa-solid fa-check'></i>";
 	      break;
 	    default:
 	      console.log("Valeur non reconnue");
 	  
 	  }
 	
 	});
 	
 	 }
 	 
	  	document.getElementById("vi").innerHTML = vi;
	 	document.getElementById("hi").innerHTML = hi;
	 	document.getElementById("mi").innerHTML = mi;
	 	document.getElementById("pi").innerHTML = pi; 
	 	
	 	

	    
	 	  // Extraire le tableau registration contenant Phone + Email + Link

	 	  	 const registrationData = json.record.fields.registration;
	 	     let registration;
	 	    
	 	     if (registrationData !== undefined || registrationData !== null) {
		 	     registration = JSON.parse(registrationData);
		 	     }
	 	  	
	 	     console.log(registration)
	 	  
	 	     let link, phone, email;
	 	   
	 	     const phoneList = document.getElementById("phone-list");
	 	     const emailList = document.getElementById("email-list");
	 	     const linkList = document.getElementById("link-list");
	 	    

	 	     
	 	   if (registration != null || registration != undefined) {
	 	    	// Phone
	 	 		registration.forEach(function(item) {
	 	 		if (item.type === 'phone') {
	 	 		phone = item.value;
	 	 		let node = document.createElement("LI");
	 	 		let textnode = document.createTextNode(phone);
	 	 		node.appendChild(textnode);
	 	 		phoneList.appendChild(node);
	 	 		}
	 	 		});

	 	 	// Email
	 	 		registration.forEach(function(item) {
	 	 		if (item.type === 'email') {
	 	 		email = item.value;
	 	 		let node = document.createElement("LI");
	 	 		let textnode = document.createTextNode(email);
	 	 		node.appendChild(textnode);
	 	 		emailList.appendChild(node);
	 	 		}
	 	 		
	 	 		});

	 	 	// Link + limite de caractères + lien cliquable
	 	 		 registration.forEach(function(item) {
	 	 			  if (item.type === 'link') {
	 	 			    link = item.value;
	 	 			    if (link.length > 20) {
	 	 			      link = link.substring(0, 25) + '...';
	 	 			    }
	 	 			    let linkItem = document.createElement('li');
	 	 			    let linkElement = document.createElement('a');
	 	 			    linkElement.href = item.value;
	 	 			    linkElement.innerHTML = link;
	 	 			    linkItem.appendChild(linkElement);
	 	 			    linkList.appendChild(linkItem);
	 	 			  }
	 	 			  });
	 	    	
	 	    	
	 	   }
	 	      	
	 	     	
	 	// Vérifier si les Nodelist sont vides, dans ce cas rajouter un display none sur les sections correspondantes
	 	      		 if (phoneList.childNodes.length === 0) {
	 	      		    document.getElementById("phone-section").style.display = "none";
	 	      		  }
	 	      		  if (emailList.childNodes.length === 0) {
	 	      		    document.getElementById("email-section").style.display = "none";
	 	      		  }
	 	      		  if (linkList.childNodes.length === 0) {
	 	      		    document.getElementById("link-section").style.display = "none";
	 	      		  }

  })

    .catch((error) => {
        console.error("Erreur: ", error);
      
        throw error;

        
        
    });
    

</script>


<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <link href="../css/avancee.css" rel="stylesheet">


</head>
	<div th:include="_header :: _header"></div>
<body class="d-flex flex-column min-vh-100">


    <!-- Information événement 23.01.07-20:11 -->


    <div class="container py-4 my-4">
        <div class="row">
            <div class="col-lg-4 order-2 mb-4" id="sidebar">
                <div>
                    <div class="card mx-auto bg-secondary shadow" style="max-width: 500px;">
                        <div class="card-header border-0">
                            <div class="row align-items-center">
                                <div class="col">
                                    <h3 class="mb-0">Informations</h3>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">

                            <div class="detail-item margin-bottom-sm">
                                <i class="fa fa-history icon"></i>
                                <p class="detail-item-content" style="vertical-align: top;">
                                    <span id="daterange">DATES</span>
                                </p>
                            </div>
                            <div class="detail-item margin-bottom-sm" id="conditions-section">
                                <i class="fa-solid fa-ticket icon"></i>
                                <p class="detail-item-content">
                                    <span id="conditions">CONDITIONS</span>
                                </p>
                            </div>
                            <div class="detail-item margin-bottom-sm" id="phone-section">
                                <i class="fa-solid fa-phone icon"></i>
                                <p class="detail-item-content" >
                                    <span id="phone-list"></span>
                                </p>
                            </div>
                            <div class="detail-item margin-bottom-sm" id="email-section">
                                <i class="fa-solid fa-envelope icon"></i>
                                <p class="detail-item-content">
                                    <span id="email-list"></span>
                                </p>
                            </div>
                              <div class="detail-item margin-bottom-sm" id="link-section">
                                <i class="fa-solid fa-at icon"></i>
                                <p class="detail-item-content">
                                    <span id="link-list"></span>
                                </p>
                            </div>
                            <hr class="my-2">
                            <section class="detail-item flex-column" style="justify-content: center;">
                                <div class="timings">
                                    <h3 class="text-center" id="mois">MOIS</h3>
                                    <div class="just-padding">
                                        <div class="list-group list-group-root">
                                            <div class="list-group">
                                                <span class="list-group-item"></span>
                                                <div class="list-group flex" id="timer">
                                        
                                                </div>
                       
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <hr class="my-4">
                            <div>
                                <div class="detail-item margin-bottom-sm">
                                    <i class="fa-brands fa-accessible-icon icon"></i>
                                    <p class="detail-item-content">
                                        <span class="text-center">Accessibilité</span>
                                    </p>
                                </div>
                                <div class="container">
                                    <div class="row">
                                        <div class="col">
                                            <i id="vi"></i>
                                            <span>Visuelle</span>
                                        </div>
                                        <div class="col">
                                            <i id="mi"></i>
                                            <span>Moteur</span>
                                        </div>
                                    </div>
                                    <div class="row pt-5">
                                        <div class="col">
                                            <i id="hi"></i>
                                            <span>Auditif</span>
                                        </div>
                                        <div class="col">
                                            <i id="pi"></i>
                                            <span>Psychique</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr class="my-4">
                            <div>
                                <div class="detail-item margin-bottom-sm">
                                    <i class="fa-solid fa-map-location"></i>
                                    <p class="detail-item-content">
                                        <span class="text-center" >Adresse</span>
                                    </p>
                                </div>
                                <span id="adresse"></span>
                                
                                 <div class="map-responsive" id="map" style="border:0; padding-top: 35px;">
                                 </div>
                                
                                <div >
                                    <div id="map">
                                       </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col mb-4" id="main">
                <div class="card bg-secondary shadow">
                    <div class="card-header border-0">
                        <div class="row align-items-center">
                            <div class="col">
                                <h2 id="titre" class="mb-0" ></h2>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="col" id="image-section">
                            <img id="img" class="img-fluid text-center" alt="Pas d'image disponible">
                        </div>
                        <div class="col text-center" id="imageABS-section" style="display: none">
                         <strong><span>Pas d'image disponible</span></strong>
                        </div>
                        <div class="pl-lg-4 py-4">
                            <div class="row" id="description">
                            </div>
                            <strong id="keywords-section"><span>Mots-clés: &nbsp;</span></strong><span id="keywords"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

	<div th:include="_footer :: _footer"></div>


</html>