<!DOCTYPE html>
<html lang="fr" xmlns:th="https://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
	crossorigin="anonymous">

<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
	crossorigin="anonymous"></script>

<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"
	integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg=="
	crossorigin="anonymous" referrerpolicy="no-referrer">


<link href="../css/main.css" rel="stylesheet">
<link href="../css/avancee.css" rel="stylesheet">

<link rel="stylesheet" type="text/css"
	href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
 <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<title>Éditer un événement</title>

<!--  NE PAS ACTIVER CELA CONSOMME TROP DE NOMBRES DE RECHERCHES SUR LE SITE / RECHERCHE ET J'AI PAS ENVIE DE PAYER !!!

<script>
  $(document).ready(function() {
    $("#city").keyup(function() {
      var city = $(this).val();
      
      if (city.length > 2) {
        $.getJSON("http://www.mapquestapi.com/geocoding/v1/address?key=vMJiu7RsmgoTs66vvgaL2gy2fDcGESaS&location=" + city, function(data) {
          console.log(data);

          // Récupérer les suggestions de villes
          var locations = data.results[0].locations;

          // Vider la liste déroulante avant de l'actualiser
          $("#suggestions").empty();

          // Boucle sur les suggestions de villes + ajouter à la liste déroulante
          for (var i = 0; i < locations.length; i++) {
            $("#suggestions").append("<option value='" + locations[i].street + ", " + locations[i].adminArea5 + " " + locations[i].postalCode + " " + locations[i].adminArea3 + "'>" + locations[i].street + ", " + locations[i].adminArea5 + " " + locations[i].postalCode + " " + locations[i].adminArea3 + "</option>");
          }
        });
      }
    });
  });
</script>

-->




</head>

<body class="d-flex flex-column min-vh-100">
<main class="flex-grow-1">
	<div th:include="_header :: _header"></div>

	<div class="main-content">
		<div class=" container-fluid mt-7 pt-5 pb-5">

			<!-- Creation d'un événement -->
			<div class="row">
				<div class="col-xl-7 m-auto order-xl-1">
					<div class="card bg-light shadow">
						<div class="card-header border-0">
							<div class="row align-items-center">
								<div class="col-8">
									<h3 class="mb-0 text-dark">Création d'un événement</h3>
								</div>
							</div>
						</div>

						<form  action="#" th:action="@{/editEvent}" method="post" th:object="${myevent}">
						<input type="hidden" th:value="${session.user.idusers}" name="idusers">
						<input type="hidden" th:value="*{idmyevents}" name="idmyevents">
							<div class="card-group">
								<div class="card border-0">
									<!-- Votre événement-->
									<div class="card-body">
										<div class="row">
											<div class="col">
												<div class="form-group focused">
													<label class="form-control-label">Nom de
														l'événement</label>
													<input type="text" name="title"
														class="form-control form-control-alternative text-dark"
														placeholder="Titre" th:value="*{title}" maxlength="45">

												</div>
											</div>


											<!-- Parcourir image-->
											<div class="col">
												<div class="form-group focused">
													<!-- <label for="formFileMultiple" class="form-label">Image</label>-->

													<div class="mb-3">
														<label class="form-control-label"  onmouseover="displayModal()" onmouseout="closeModal()">URL Image (aperçu de l'image)</label>
														<input type="text" name="preview"
															class="
															form-control form-control-alternative text-dark"
															placeholder="URL Image" th:value="*{preview}" maxlength="200">
														
														 
													
													</div>
												</div>
											</div>
										</div>

<div id="myModal" class=" modal-dialog modal-dialog-centered">
  														<img class="modal-content" id="imgPreview">
  													
														</div>
										<!-- Description-->
										<div class="row">
											<div class="col">

												<div class="form-group focused">
													<label class="form-control-label">Description</label>
													<textarea class="form-control text-dark" rows="5"
														 maxlength="600" placeholder="....." th:text="*{longdescription}" name="longdescription" style="text: black;"></textarea>
												</div>
											</div>
										</div>

	

										<!-- Choissisez votre catégorie-->
										<br>
										<div class="row">
											<div class="col">
												<div class="form-group focused">
													<label class="form-control-label">Definissez un mot
														clé </label>


													<input type="text" name="keywords"
														class="
														form-control form-control-alternative text-dark"
														th:value="*{keywords}" maxlength="60">

												</div>
												<!-- Adresse personnalisé-->
												<br>
												<div class="col">
													<br>
													<div class="form-group focused">

														<label class="form-control-label">Adresse
															personnalisé</label>
														<br>
														<input type="text" name="adress_perso"
															class="form-control form-control-alternative text-dark"
															th:value="*{adress_perso}">

														<br>
													</div>
												</div>
											</div>
										</div>
									</div>





									<!-- Accessibilité-->

									<h6 class="heading-small text-muted mx-3">Accessibilité</h6>

									<div class="pl-lg-4 mx-3">
										<div class="row">
										<input type="hidden" th:value="*{accessibility}" id="accessibilityValue">
											<div class="col">
												<div class="form-check">
													<input class="form-check-input" type="checkbox" value="hi"
														name="accessibility">

													<label class="form-check-label">Handicap auditif</label>
												</div>
											</div>
											<div class="col">
												<div class="form-check">
													<input class="form-check-input" type="checkbox" value="pi"
														name="accessibility">
													<label class="form-check-label">Handicap psychique</label>
												</div>
											</div>
										</div>



										<div class="row">
											<div class="col">
												<div class="form-check">
													<input class="form-check-input" type="checkbox" value="mi"
														name="accessibility">
													<label class="form-check-label">Handicap moteur</label>
												</div>
											</div>
											<div class="col">
												<div class="form-check">
													<input class="form-check-input" type="checkbox" value="vi"
														name="accessibility" >
													<label class="form-check-label">Handicap visuel</label>
												</div>
											</div>
										</div>
									</div>
								</div>

<script>
//Vérifier les checkbox

var accessibilityValue = document.getElementById("accessibilityValue").value;
var checkboxes = document.getElementsByName("accessibility");
for (var i = 0; i < checkboxes.length; i++) {
  if (accessibilityValue.indexOf(checkboxes[i].value) !== -1) {
    checkboxes[i].checked = true;
  }
}
</script>

								<div class="card border-0">
									<div class="card-body">
									
									
									
										<!-- Localisation-->
										
										<div class="row">
											<div class="form-group focused">
													<label class="form-control-label">Résumé des dates</label>
													<input type="text" name="times"
														class="form-control form-control-alternative text-dark"
														th:value="*{times}" maxlength="150" placeholder="Exemple: Du 05 au 15 Novembre 2023">

												</div>
											
											</div>
										<div class="row">
										
										
										
											<div class="col">

												<div class="form-group focused">
													<label class="form-control-label">Adresse</label>
													<input type="text" name="address"
														class="form-control form-control-alternative text-dark"
														th:value="*{address}" maxlength="150" placeholder="Adresse">

												</div>
											</div>


											<div class="row">
												<div class="col">
													<br>
												</div>
											</div>

											<div class="row">
												<div class="col">
													<div class="form-group focused">
														<label class="form-control-label">Ville</label>
														<input type="text" name="city" id="city"
															class="form-control form-control-alternative text-dark"
															th:value="*{city}" placeholder="Ville" maxlength="60">
														<!--  	<select id="suggestions"></select>-->
													</div>
												</div>



												<div class="col">
													<div class="form-group">
														<label class="form-control-label">Code Postal</label>
														<input type="number" name="zipcode"
															class="form-control form-control-alternative text-dark"
															placeholder="Code postal" th:value="*{zipcode}">
													</div>
												</div>
											</div>

											<p></p>

											<!-- Date de début-->
											<div class="row">
												<div class="col">
													<br>
												</div>
											</div>
											<div class="row">

												<div class=" col">
													<label>Date de début</label>
													<input type="datetime-local" class="form-control text-dark"
														name="firstdate_begin" th:value="*{firstdate_begin}">
												</div>
											</div>
											<div class="row">
												<div class="col">
													<br>
												</div>
											</div>


											<div class="row">

												<div class=" col">
													<label>Date de fin</label>
													<input type="datetime-local" class="form-control  text-dark"
														name="firstdate_end" th:value="*{firstdate_end}">
														 <p class="error-message" style="display: none; color: red;">La date de début doit être inférieure à la date de fin</p>
  													</div>
												</div>
											</div>
							
											
											

											<div class="row">
												<div class="col">
													<br>
												</div>
											</div>
											<div class="row">

												<div class="col">
													<div class="form-group">
														<label class="form-control-label">Conditions</label>
														<input type="text"
															class="form-control form-control-alternative text-dark"
															name="conditions"
															placeholder="Exemple: Entrées à 20€ avec une boisson offerte"
															maxlength="150" th:value="*{conditions}">
													</div>
												</div>

											</div>
										</div>
									</div>
								</div>
							</div>


							<!-- Annuler ou enregistrer -->
							<div class="card border-0">
								<div class="card-body">
									<div class="row">
										<div class="form-group text-right">
											<a class="btn btn-search btn-dark btn-block"
												style="background: #b78a62" th:href="@{/mesevenements/{idusers}(idusers=${session.user.idusers})}" role="button">
												<i class="btn-search"></i>
												Annuler
											</a>

											<button class="btn btn-search btn-dark btn-block"
												style="background: #b78a62" type="submit">Enregistrer</button>


										</div>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	</main>
		<div th:include="_footer :: _footer"></div>
		
</body>
<script>
const startDateInput = document.querySelector('input[name="firstdate_begin"]');
const endDateInput = document.querySelector('input[name="firstdate_end"]');
const submitButton = document.querySelector('button[type="submit"]');
const errorMessage = document.querySelector('.error-message');

submitButton.addEventListener('input', function(event) {
	  const startDate = new Date(startDateInput.value);
	  const endDate = new Date(endDateInput.value);


	  if (startDate >= endDate) {
	    submitButton.setAttribute('disabled', 'disabled');
	    errorMessage.style.display = 'block';
	  } else {
	    submitButton.removeAttribute('disabled');
	    errorMessage.style.display = 'none';
	  }
	});

	endDateInput.addEventListener('input', function() {
	  const startDate = new Date(startDateInput.value);
	  const endDate = new Date(endDateInput.value);

	  if (startDate >= endDate) {
	    submitButton.setAttribute('disabled', 'disabled');
	    errorMessage.style.display = 'block';
	  } else {
	    submitButton.removeAttribute('disabled');
	    errorMessage.style.display = 'none';
	  }
	});


</script>


<script>
function displayModal() {
  var preview = document.querySelector('input[name="preview"]').value;
  document.getElementById("imgPreview").src = preview;
  document.getElementById("myModal").style.display = "block";
}

function closeModal() {
  document.getElementById("myModal").style.display = "none";
}
</script>




</html>