<!DOCTYPE html>
<html lang="fr" xmlns:th="https://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
	crossorigin="anonymous">

<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
	crossorigin="anonymous"></script>

<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"
	integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg=="
	crossorigin="anonymous" referrerpolicy="no-referrer">


<link href="../css/main.css" rel="stylesheet">
<link href="../css/avancee.css" rel="stylesheet">

<link rel="stylesheet" type="text/css"
	href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<title>Création d'un événement</title>

</head>

<body class="d-flex flex-column min-vh-100">

	<div th:include="_header :: _header"></div>

	<div class="main-content">
		<div class=" container-fluid mt-7 pt-5 pb-5">

			<!-- Creation d'un événement -->
			<div class="row">
				<div class="col-xl-7 m-auto order-xl-1">
					<div class="card bg-light shadow">
						<div class="card-header border-0">
							<div class="row align-items-center">
								<div class="col-8">
									<h3 class="mb-0 text-dark">Création d'un événement</h3>
								</div>
							</div>
						</div>

						<form action="/createEvent" method="post">
							<div class="card-group">
								<div class="card border-0">

									<!-- Votre événement-->
									<div class="card-body">
										<div class="row">
											<div class="col">
												<div class="form-group focused">
													<label class="form-control-label">Nom de
														l'événement</label>
													<input type="text" name="title"
														class="form-control form-control-alternative"
														placeholder="Titre" maxlength="45">

												</div>
											</div>


											<!-- Parcourir image-->
											<div class="col">
												<div class="form-group focused">
													<!-- <label for="formFileMultiple" class="form-label">Image</label>-->

													<div class="mb-3">
														<label class="form-control-label">URL Image</label>
														<input type="text" name="image"
															class="
															form-control form-control-alternative"
															placeholder="URL Image" maxlength="100">
													</div>
												</div>
											</div>
										</div>


										<!-- Description-->
										<div class="row">
											<div class="col">

												<div class="form-group focused">
													<label class="form-control-label">Description</label>
													<textarea class="form-control" rows="5"
														placeholder=" ........" maxlength="600" name="description"></textarea>
												</div>
											</div>
										</div>



										<!-- Choissisez votre catégorie-->
										<br>
										<div class="row">
											<div class="col">
												<div class="form-group focused">
													<label class="form-control-label">Definissez un mot
														clé </label>


													<input type="text" name="keywords"
														class="
														form-control form-control-alternative"
														placeholder="mot1" maxlength="60">

												</div>
												<!-- Adresse personnalisé-->
												<br>
												<div class="col">
													<br>
													<div class="form-group focused">

														<label class="form-control-label">Adresse
															personnalisé</label>
														<br>
														<input type="text" name="adress_perso"
															class="form-control form-control-alternative"
															placeholder="URL">

														<br>
													</div>
												</div>
											</div>
										</div>
									</div>





									<!-- Accessibilité-->

									<h6 class="heading-small text-muted mx-3">Accessibilité</h6>

									<div class="pl-lg-4 mx-3">
										<div class="row">
											<div class="col">
												<div class="form-check">
													<input class="form-check-input" type="checkbox" value="hi"
														name="accessibility">

													<label class="form-check-label">Handicap auditif</label>
												</div>
											</div>
											<div class="col">
												<div class="form-check">
													<input class="form-check-input" type="checkbox" value="pi"
														name="accessibility">
													<label class="form-check-label">Handicap psychique</label>
												</div>
											</div>
										</div>



										<div class="row">
											<div class="col">
												<div class="form-check">
													<input class="form-check-input" type="checkbox" value="mi"
														name="accessibility">
													<label class="form-check-label">Handicap moteur</label>
												</div>
											</div>
											<div class="col">
												<div class="form-check">
													<input class="form-check-input" type="checkbox" value="vi"
														name="accessibility">
													<label class="form-check-label">Handicap visuel</label>
												</div>
											</div>
										</div>
									</div>
								</div>




								<div class="card border-0">
									<div class="card-body">
										<!-- Localisation-->
										<div class="row">
											<div class="col">

												<div class="form-group focused">
													<label class="form-control-label">Adresse</label>
													<input type="text" name="adress"
														class="form-control form-control-alternative"
														placeholder="Adresse" maxlength="150">

												</div>
											</div>


											<div class="row">
												<div class="col">
													<br>
												</div>
											</div>

											<div class="row">
												<div class="col">
													<div class="form-group focused">
														<label class="form-control-label">Ville</label>
														<input type="text" name="city"
															class="form-control form-control-alternative"
															placeholder="Ville" maxlength="60">
													</div>
												</div>



												<div class="col">
													<div class="form-group">
														<label class="form-control-label">Code Postal</label>
														<input type="number" name="zipcode"
															class="form-control form-control-alternative"
															placeholder="Code postal">
													</div>
												</div>
											</div>

											<p></p>

											<!-- Date de début-->
											<div class="row">
												<div class="col">
													<br>
												</div>
											</div>
											<div class="row">

												<div class=" col">
													<label>Date de début</label>
													<input type="datetime-local" class="form-control"
														name="firstdate_begin">
												</div>
											</div>
											<div class="row">
												<div class="col">
													<br>
												</div>
											</div>


											<div class="row">

												<div class=" col">
													<label>Date de fin</label>
													<input type="datetime-local" class="form-control"
														name="firstdate_end">
												</div>
											</div>

											<div class="row">
												<div class="col">
													<br>
												</div>
											</div>
											<div class="row">

												<div class="col">
													<div class="form-group">
														<label class="form-control-label">Conditions</label>
														<input type="text"
															class="form-control form-control-alternative"
															name="conditions"
															placeholder="ex:Entrées à 20€ avec boisson ou Gratuit"
															maxlength="150">
													</div>
												</div>

											</div>
										</div>
									</div>
								</div>
							</div>





							<!-- Annuler ou enregistrer -->
							<div class="card border-0">
								<div class="card-body">
									<div class="row">
										<div class="form-group text-right">
											<a class="btn btn-search btn-dark btn-block"
												style="background: #b78a62" href="/" role="button">
												<i class="btn-search"></i>
												Annuler
											</a>

											<button class="btn btn-search btn-dark btn-block"
												style="background: #b78a62" type="submit">Enregistrer</button>


										</div>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div th:include="_footer :: _footer"></div>
</body>

</html>