<!DOCTYPE html>
<html lang="fr">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Bienvenue sur NOMDUSITE</title>
	<link rel="shortcut icon" href="logo-shortcut.png">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js">
	</script>

	<link href="css/main.css" rel="stylesheet">
	<link href="css/styles.css" rel="stylesheet">
	<link href="css/avancee.css" rel="stylesheet">
</head>

<body class="d-flex flex-column min-vh-100">

	<div th:include="_header :: _header"></div>
	<div th:include="_search :: _search"></div>



	<!-- Caroussel-->
	<div class="container">
		<div class="card bg-light shadow mx-auto my-5">

			<div class="card-body ">
				<div id="carousel" class="carousel carousel-dark slide" data-bs-ride="carousel">
					<div class="carousel-indicators " style="margin-bottom: -1.5rem;">
						<button type="button" data-bs-target="#carousel" data-bs-slide-to="0" class="active"
							aria-current="true" aria-label="Slide 1"></button>
						<button type="button" data-bs-target="#carousel" data-bs-slide-to="1"
							aria-label="Slide 2"></button>
						<button type="button" data-bs-target="#carousel" data-bs-slide-to="2"
							aria-label="Slide 3"></button>
					</div>
					<div class="carousel-inner">
						<div id=ca></div>
						<div id=ca1></div>
						<div id=ca2></div>


					</div>

				</div>

			</div>
		</div>

	</div>

	<script>
		fetch("https://public.opendatasoft.com/api/v2/catalog/datasets/evenements-publics-openagenda/records?where=lastdate_end%20%3E%20NOW%28%29%20&limit=10&offset=0&lang=fr&timezone=UTC")
			// Converting received data to JSON
			.then((response) => response.json())
			.then((json) => {
				// 2. Create a variable to store HTML table headers
				let car = `<div class="carousel-item active "> <div class="card-group">`;
				let ca1 = `<div class="carousel-item"> <div class="card-group">`;
				let ca2 = `<div class="carousel-item"> <div class="card-group">`;
				// 3. Loop through each data and add a table row

				json.records.forEach((e, i) => {
					if (i <= 2) {
						car += `<div class="col card_size_carousel">
				 		<a class="text-dark" style="text-decoration: none"
						href="/event/${e.record.id}">
						<div class="card h-100 bg-gradient ">
							<div class="card-header p-2">
								<h5 class="card-title text-center fw-bold m-0">${e.record.fields.title_fr}</h5>
							</div>
							<div class="card_img_carousel p-2">

								<img src="${e.record.fields.thumbnail}"
									alt="thumbnail" class="rounded_5">
							</div>
							<div class="card-body overflow-auto sb_1">
								<h5>Description</h5>
								<p class="card-text ">${e.record.fields.description_fr}</p>
							</div>
							<div class="card-footer">
								<small class="text-muted">${e.record.fields.location_city}: ${e.record.fields.location_name}|${e.record.fields.daterange_fr}</small>
								
							</div>
						</div>
					</a>
				</div>`}
					else if (i >= 3 && i <= 5) {
						ca1 += `<div class="col card_size_carousel">
					 		<a class="text-dark" style="text-decoration: none"
							href="/info.html">
							<div class="card h-100 bg-gradient ">
								<div class="card-header p-2">
									<h5 class="card-title text-center fw-bold m-0">${e.record.fields.title_fr}</h5>
								</div>
								<div class="card_img_carousel p-2">

									<img src="${e.record.fields.thumbnail}"
										alt="thumbnail" class="rounded_5">
								</div>
								<div class="card-body overflow-auto sb_1">
									<h5>Description</h5>
									<p class="card-text ">${e.record.fields.description_fr}</p>
								</div>
								<div class="card-footer">
									<small class="text-muted">${e.record.fields.location_city}: ${e.record.fields.location_name}|${e.record.fields.daterange_fr}</small>
									
								</div>
							</div>
						</a>
					</div>`}
					else if (i >= 6 && i <= 8) {
						ca2 += `<div class="col card_size_carousel">
						 		<a class="text-dark" style="text-decoration: none"
								href="/info.html">
								<div class="card h-100 bg-gradient ">
									<div class="card-header p-2">
										<h5 class="card-title text-center fw-bold m-0">${e.record.fields.title_fr}</h5>
									</div>
									<div class="card_img_carousel p-2">

										<img src="${e.record.fields.thumbnail}"
											alt="thumbnail" class="rounded_5">
									</div>
									<div class="card-body overflow-auto sb_1">
										<h5>Description</h5>
										<p class="card-text ">${e.record.fields.description_fr}</p>
									</div>
									<div class="card-footer">
										<small class="text-muted">${e.record.fields.location_city}: ${e.record.fields.location_name}|${e.record.fields.daterange_fr}</small>
										
									</div>
								</div>
							</a>
						</div>`}
				});
				car += `</div></div>`;
				ca1 += `</div></div>`;
				ca2 += `</div></div>`;
				// 4. DOM Display result
				document.getElementById("ca").innerHTML = car;
				document.getElementById("ca1").innerHTML = ca1;
				document.getElementById("ca2").innerHTML = ca2;
			});
	</script>

	<div th:include="_footer :: _footer"></div>
</body>

</html>