<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mon compte</title>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
    integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
    crossorigin="anonymous" referrerpolicy="no-referrer">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>


  <link href="../css/avancee.css" rel="stylesheet">

</head>

	<div th:include="_header :: _header"></div>



<body class="d-flex flex-column min-vh-100">



      			 



  <!-- Informations 2023.01.06-16:50 -->
  <div class="main-content my-auto">
    <div class="container">
      <div class="row">
        <div class="col-lg-10 m-auto">
     <form action="#" th:action="@{/moncompte}" method="POST" th:object="${user}">
  <div class="card bg-light shadow">
    <div class="card-header border-0">
      <div class="col align-items-center">
        <input type="hidden" th:field="*{idusers}">

        <h3 class="mb-0 text-dark ">Mon compte</h3>
        <div class="float-end six-wrap"> 
          <button class="btn-search" type="button" id="edit-button">Modifier</button>
        </div>
        <div class="float-end six-wrap mx-2"> 
          <button class="btn-search" id="validate-button" type="submit"  style="display: none;" >Valider</button>
        </div>
        <div class="float-end six-wrap"> 
          <button class="btn-search" type="button" id="cancel-button" style="background-color: #6c757d; display: none;">Annuler</button>
        </div>
      </div>
    </div>
    <div class="card-body">
      <h6 class="heading-small text-muted mb-4" >Informations utilisateur</h6>
      <div class="pl-lg-4">
        <div class="row">
          <div class="col-lg-6">
            <div class="form-group focused">
              <label class="form-control-label">Pseudonyme</label>
              <input type="text" class="form-control form-control-alternative text-dark antidisabled" disabled th:field="*{nickname}">
              
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-group">
              <label class="form-control-label">Adresse Email</label>
              <input type="text" class="form-control form-control-alternative text-dark antidisabled" disabled th:field="*{email}">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <div class="form-group focused">
              <label class="form-control-label">Nom</label>
              <input type="text" class="form-control form-control-alternative text-dark"
                placeholder="Nom" th:field="*{lastName}" name="lastName" disabled>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-group focused">
                        <label class="form-control-label">Prénom</label>
                        <input type="text" class="form-control form-control-alternative text-dark"
                          placeholder="Prénom" th:field="*{firstName}" name="firstName" disabled>
                      </div>
                    </div>

                  </div>
                </div>
                <hr class="my-4">
                <h6 class="heading-small text-muted mb-4">Informations supplémentaires</h6>
                <div class="pl-lg-4">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group focused">
                        <label class="form-control-label">Adresse</label>
                        <input class="form-control form-control-alternative text-dark" placeholder="Adresse"
                          type="text" th:field="*{address}" name="address" disabled>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-7">
                      <div class="form-group focused">
                        <label class="form-control-label">Ville</label>
                        <input type="text" class="form-control form-control-alternative text-dark"
                          placeholder="Ville" th:field="*{city}" name="city" disabled>
                      </div>
                    </div>
                    <div class="col-lg-5">
                      <div class="form-group focused">
                        <label class="form-control-label">Code Postal</label>
                        <input type="number" class="form-control form-control-alternative text-dark"
                          placeholder="Code postal" th:field="*{zipcode}" name="zipcode" disabled>
                      </div>
                    </div>
                  </div>
                </div>
                  </form>
                    <div class="seven-wrap mt-3 text-center">
                      <button class="btn-search" type="button" id="changepass" data-bs-toggle="modal" data-bs-target="#modal_mdp"
                        style="background-color: #6c757d; font-size: 15px;">Changer
                        le mot de passe</button>
                    </div>      
            </div>
          </div>
       </div>
      </div>
  </div>
  </div>



  <div class="modal fade" id="modal_mdp" tabindex="-1" aria-labelledby="modal_mdp" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Changement de mot de passe</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
           <form action="#" th:action="@{/updatePassword}" th:id="updatePassword" method="POST" th:object="${user}">
            <input type="hidden" th:field="*{idusers}">
            
            <div class="mb-3">
              <label class="form-label" for="new-password">Nouveau mot de passe</label>
              <input type="text" id="newpassword"  class="form-control keep-visible">
            </div>
            <div class="mb-3">
              <label class="form-label" for="repeat-password">Répéter le nouveau de mot de passe</label>
              <input type="text" id="repeatpassword" class="form-control keep-visible" name="password">
              <span class="form-control-label" id="message"></span>
            </div>
        
     
      
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" id="cancelbutton" data-bs-dismiss="modal">Annuler</button>
          <button type="submit" class="btn text-white" id="change" style="background-color: #b78a62;">Changer</button>

        </div> 
       </form>
      </div>  
    </div>
  </div>

</body>

	<div th:include="_footer :: _footer"></div>
 

<script>

const inputs = document.querySelectorAll("input[disabled]:not(.antidisabled)");
const modifyButton = document.querySelector("#edit-button");
const cancelButton = document.querySelector("#cancel-button");
const changePasswordButton = document.querySelector("#changepass");

modifyButton.addEventListener("click", function () {
  inputs.forEach(input => input.removeAttribute("disabled"));
  $("#edit-button").hide();
  $("#cancel-button").show();
  $("#validate-button").show();
});

cancelButton.addEventListener("click", function () {
  inputs.forEach(input => input.setAttribute("disabled", true));
  $("#edit-button").show();
  $("#cancel-button").hide();
  $("#validate-button").hide();
});

changePasswordButton.addEventListener("click", function () {
  inputs.forEach(input => input.setAttribute("disabled", true));
  $("#edit-button").show();
  $("#cancel-button").hide();
  $("#validate-button").hide();
});
 </script>




<script>

$('#change').click(function() {
  if ($('#newpassword').val() != $('#repeatpassword').val()) {
    $('#message').html('Mots de passe non identiques').css('color', 'red');
    return false;
  } else {
    $('#message').html('Succès').css('color', 'green');
  }
});

</script> 

</html>