<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>S'inscrire</title>
<link rel="shortcut icon" href="logo-shortcut.png">

<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
	crossorigin="anonymous">

<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
	crossorigin="anonymous"></script>

<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"
	integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg=="
	crossorigin="anonymous" referrerpolicy="no-referrer">

<link href="../moncompte.css" rel="stylesheet">


</head>

<body class="d-flex flex-column min-vh-100">
	<div th:include="_header :: _header"></div>

	<div class="main-content">
		<div class="container mt-7 pt-5 pb-5">

			<!-- S'inscire -->
			<div class="row">
				<div class="col-xl-7 m-auto order-xl-1">
					<div class="card bg-light shadow">
						<div class="card-header border-0">
							<div class="row align-items-center">
								<div class="col-8">
									<h3 class="mb-0 text-dark">Création d'un compte</h3>
								</div>
							</div>
						</div>

						<div class="card-body">

							<!-- Nom d'utilisateur-->

							<form th:action="@{/register}" th:object="${user}" method="post"
								style="max-width: 600px; margin: 0 auto;">
							

									<div class="form-group row">
										<label class="col-4 col-form-label">Nom d'utilisateur</label>
										<div class="col-8">
											<input type="text" th:field="*{nickname}"
												class="form-control" required />
										</div>
									</div>
							

								<br>

								<div class="form-group row">
									<label class="col-4 col-form-label">Prenom </label>
									<div class="col-8">
										<input type="text" th:field="*{firstName}"
											class="form-control" required />
									</div>
								</div>

								<br>

								<div class="form-group row">
									<label class="col-4 col-form-label">Nom </label>
									<div class="col-8">
										<input type="text" th:field="*{lastName}" class="form-control"
											required />
									</div>
								</div>

								<br>


								<div class="form-group row">
									<label class="col-4 col-form-label">E-mail: </label>
									<div class="col-8">
										<input type="email" th:field="*{email}" class="form-control"
											required />
									</div>
								</div>


								<br>

								<div class="form-group row">
									<label class="col-4 col-form-label">Mot de passe </label>
									<div class="col-8">
										<input id="password" type="password" th:field="*{password}"
											class="form-control" required minlength="6" maxlength="10" />
									</div>
								</div>

								<br>

								<div class="form-group row">
									<label class="col-4 col-form-label" for="input-rmdp">Répéter
										le mot de passe </label>
									<div class="col-8">
										<input type="password" id="repeatpassword"
											class="form-control" required
											placeholder="Répéter le mot de passe" maxlength="45" />
									</div>
								</div>


								<!-- <div class="row">
										<div class="col-4">
											<div class="form-group focused">
												<label class="form-control-label" for="input-rmdp">Répéter
													le mot de passe </label>
												<input type="password" id="repeatpassword"
													class="form-control form-control-alternative"
													placeholder="Répéter le mot de passe" maxlength="45">
											</div>
										</div>
									</div> -->

								<br>

								<div class="d-flex justify-content-around">
									<div class="col-lg-4 text-right six-wrap">
										<input class="btn btn-dark btn-lg btn-block"
											style="background: #b78a62" type="submit"
											value="Créer un compte" />
									</div>
								</div>
								<div class="row gy-2">
									<p class="text-justify text-dark">
									<p class="text-justify text-dark">En créant un compte vous
										acceptez les Conditions d'Utilisation ainsi que la Politique
										de confidentialité.</p>
								</div>

							</form>
							<!-- <form>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="form-group focused">
                                            <label class="form-control-label" for="input-username">Nom
                                                d'utilisateur</label>
                                            <input type="text" id="input-username"
                                                class="form-control form-control-alternative"
                                                placeholder="Nom d'utilisateur" maxlength="45">
                                        </div>
                                    </div>
                                </div>


                                Email

                                <div class="row">
                                    <div class="col-12">
                                        <div class="form-group focused">
                                            <label class="form-control-label" for="input-email">Email</label>
                                            <input type="email" id="input-email"
                                                class="form-control form-control-alternative" placeholder="Email"
                                                maxlength="45">
                                        </div>
                                    </div>
                                </div>


                                Mot de passe

                                <div class="row">
                                    <div class="col-12">
                                        <div class="form-group focused">
                                            <label class="form-control-label" for="input-mdp">Mot de passe
                                            </label>
                                            <input type="password" id="input-mdp"
                                                class="form-control form-control-alternative" placeholder="Mot de passe"
                                                maxlength="45">
                                        </div>
                                    </div>
                                </div>


                                Répéter le mot de passe

                                <div class="row">
                                    <div class="col-12">
                                        <div class="form-group focused">
                                            <label class="form-control-label" for="input-rmdp">Répéter le mot de
                                                passe </label>
                                            <input type="password" id="input-rmdp"
                                                class="form-control form-control-alternative"
                                                placeholder="Répéter le mot de passe" maxlength="45">
                                        </div>
                                    </div>
                                </div>



                                Accepeter et créer le compte

                                <div class="d-flex justify-content-around">
                                    <div class="col-lg-4 text-right six-wrap">
                                        <button class="btn-search rounded" type="button">Créer le compte</button>
                                    </div>
                                </div>

                                Texte

                                <div class="row gy-2">
                                    <p class="text-justify text-dark">
                                    <p class="text-justify text-dark">En créant un compte vous acceptez les Conditions
                                        d'Utilisation ainsi que la Politique de confidentialité.
                                    </p>
                                </div>
                            </form> -->
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>


	<!-- Pied de page -->
	<div th:include="_footer :: _footer"></div>
</body>

<script>
	$('#Créer le compte').click(
			function() {
				if ($('#password').val() != $('#repeatpassword').val()) {
					$('#message').html('Mots de passe non identiques').css(
							'color', 'red');
					return false;
				} else {
					$('#message').html('Succès').css('color', 'green');
				}
			});
</script>
</html>